@{
    A3_Reloaded.Clases.Usuarios US = new A3_Reloaded.Clases.Usuarios();
    A3_Reloaded.Clases.Rol _rol = new A3_Reloaded.Clases.Rol();
    string Usuario = US.obtener_Nombre_Usuario(HttpContext.Current.User.Identity.Name, "A");
    string CWID = HttpContext.Current.User.Identity.Name.ToUpper();
    int rol_id = Convert.ToInt16(US.obtener_Rol_Usuario(HttpContext.Current.User.Identity.Name));



}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>A3 Problem Solving</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/fontawesome-free-6.6.0-web/css/all.css" rel="stylesheet" />
    <link href="~/Assets/css/style.css?v=1.0.2" rel="stylesheet" />
    <link href="~/Assets/modules/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="icon" href="~/Assets/Bayer_Brand/Bayer-Logo.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Assets/Bayer_Brand/Bayer-Logo.png" />
    @*<link href="~/Assets/css/components.css" rel="stylesheet" />*@
    <link href="~/Assets/css/custom.css" rel="stylesheet" />
    <link href="~/Assets/css/Custom/TableSyle.css" rel="stylesheet" />
    <link href="~/Assets/modules/izitoast/css/iziToast.min.css" rel="stylesheet" />
    <link href="~/Assets/modules/datepicker/datepicker.min.css" rel="stylesheet" />
    <link href="~/Assets/A3 Design/ChatAI.css" rel="stylesheet" />
    <!--FIN MODAL ACTIVIDADES PREVENTIVAS-->
    @*<script src="https://alcdn.msauth.net/browser/2.30.0/js/msal-browser.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
        <script>
            window.mgaChatbotConfig = {
                baseUrl: "https://mx-a3-problem-solving-ler.la.bayer.cnb/", // Your redirect URL - ask mGA team to get added to Azure AD
                assistantId: "fc966206-2132-4b75-b585-db329d5447d3", // Your assistant ID you would like to use in chatbot
                dynamicScript: true
            };
        </script>
        <script src="https://chat.int.bayer.com/embed.min.js" defer></script>*@
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="~/Assets/V2/js/require.min.js?v=1.0.6"></script>
</head>
<body>

    <style>
        .full_modal-dialog {
            width: 98% !important;
            height: 92% !important;
            min-width: 98% !important;
            min-height: 92% !important;
            max-width: 98% !important;
            max-height: 92% !important;
            padding: 0 !important;
        }

        .full_modal-content {
            height: 99% !important;
            min-height: 99% !important;
            max-height: 99% !important;
        }
    </style>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="loader">

            </div>
            <div class="navbar-bg" style="margin-top:-50px"></div>

            <nav class="navbar navbar-expand-md">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg" id="Menu" onclick="openLeftMenu()"><i class="fas fa-bars"></i></a></li>
                    </ul>

                </form>
                <ul class="navbar-nav ms-auto">
                    <li class="">
                        <a href="@Url.Action("Index","AuditTrail")" class="btn btn-sm btn-light btn-lg btn-block btn-icon-split">
                            Audit Trail
                        </a>
                    </li>
                    @*<li class="ml-1" style="margin: 0,5px,0,5px;">
                            <a href="#" class="btn btn-sm btn-light btn-lg btn-block btn-icon-split">
                                Nivel de Entrenamiento: Avanzado
                            </a>
                        </li>*@
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="/Assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                            <div class="d-sm-none d-lg-inline-block">@Usuario</div>
                            <input type="text" id="txtGbl_rol_id" disabled readonly style="display:none" name="name" value="@rol_id" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="">

                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("CerrarSesion","Login")" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> <span class="txt_Idioma_Salir">Sign Out</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2 w3-animate-left" style="display:none;" id="leftMenu">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <img src="~/Assets/img/LogoApp/IMG_1202.PNG" width="80%" alt="Alternate Text" />
                        <!--<a href="index.html">A3 - Problem Solving</a>-->
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="index.html">A3</a>
                    </div>

                    <ul class="sidebar-menu">
                        <li class="menu-header">Principal</li>

                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                            <a class="nav-link" href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i> <span class="txt_Idioma_Inicio">Home</span></a>
                        </li>

                        <li class="menu-header">Administration</li>
                        @if (_rol.verificarAcceso(rol_id, 13) > 0)
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Usuarios" ? "active" : "")">
                                <a class="nav-link" href="@Url.Action("Index", "Usuarios")"><i class="fa fa-user"></i> <span class="txt_Idioma_Usuarios">Users</span></a>
                            </li>
                        }
                        @if (_rol.verificarAcceso(rol_id, 4) > 0)
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Rol" ? "active" : "")">
                                <a class="nav-link " href="@Url.Action("Rol_Index", "Rol")"><i class="fa fa-user-lock"></i> <span class="">Roles y Accesos</span></a>
                            </li>
                        }
                        @if (_rol.verificarAcceso(rol_id, 4) > 0)
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Departamento" ? "active" : "")">
                                <a class="nav-link" href="@Url.Action("Index", "Departamento")"><i class="fa fa-building"></i> <span class="txt_Idioma_Departamentos">Departments</span></a>
                            </li>
                        }
                        @if (_rol.verificarAcceso(rol_id, 23) > 0)
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Templates" ? "active" : "")">
                                <a class="nav-link" href="@Url.Action("Index", "Templates")"><i class="fa fa-clipboard"></i> <span class="txt_Idioma_Administracion_de_templares">A3 Templates</span></a>
                            </li>
                        }
                        @if (_rol.verificarAcceso(rol_id, 19) > 0)
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Subareas" ? "active" : "")">
                                <a class="nav-link" href="@Url.Action("SubareasIndex", "Subareas")"><i class="fa fa-industry"></i> <span class="txt_Idioma_Administracion_Subareas">Sub-áreas</span></a>
                            </li>
                        }
                        @if (_rol.verificarAcceso(rol_id, 7) > 0)
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Lineas" ? "active" : "")">
                                <a class="nav-link" href="@Url.Action("LineasIndex", "Lineas")"><i class="fa fa-industry"></i> <span class="txt_Idioma_Administracion_Lineas">Lineas</span></a>
                            </li>
                        }
                        @if (_rol.verificarAcceso(rol_id, 16) > 0)
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Equipos" ? "active" : "")">
                                <a class="nav-link" href="@Url.Action("EquipoIndex", "Equipos")">
                                    <i class="fa fa-cogs"></i> <span class="txt_Idioma_Administracion_Equipos">Equipos</span>
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="mt-4 mb-4 p-3  hide-sidebar-mini">
                        <a href="#" class="btn btn-outline-info d-grid gap-2 btn-icon-split" onclick="closeLeftMenu()">
                            <i class="fas fa-close"></i>
                            <span class="txt_Idioma_Cerrar_Menu"></span>
                        </a>
                    </div>
                </aside>
            </div>
            <div class="main-content" style="width:100%">
                <section class="section" id="Sistema_A3_body">
                    @RenderBody()
                </section>

                <div class="modal fade" role="dialog" id="mdlSistema_FirmaElectronica" style="display: none;" data-backdrop="false" data-keyboard="false">
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header modal-header-info" data-type="info">
                                <h4 class="modal-title txt_Idioma_firma_electronica">Firma Electrónica</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="txtFirmaElectronica_BYTOST">CWID</label>
                                    <input id="txtFirmaElectronica_BYTOST" name="BYTOST" type="text" class="form-control text-center" disabled value="@CWID">
                                </div>
                                <div class="form-group">
                                    <label for="txtFirmaElectronica_ZNACKA" class="control-label txt_idioma_contrasena">Contraseña</label>
                                    <input id="txtFirmaElectronica_ZNACKA" name="ZNACKA" type="password" value="" class="form-control text-center txt_idioma_Ingrese_contraseña" tabindex="1" autofocus="autofocus" placeholder="Ingrese su Contraseña">
                                    <input id="txtFirmaElectronica_SADA" name="SADA" value="" type="password" hidden disabled>
                                </div>
                                <div class="form-group" id="scnFirmaElectronica_Justificacion" hidden>
                                    <label for="txtFirmaElectronica_ZMYSEL" class="control-label txt_Idioma_Justificacion">Justificación</label>
                                    <textarea id="txtFirmaElectronica_ZMYSEL" name="ZMYSEL" value="test" class="texto-sm form-control txt_idioma_Ingrese_Justificacion" tabindex="2" placeholder="Ingrese la justificación"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer bg-whitesmoke br">
                                <button type="button" class="btn btn-secondary txt_Idioma_Cerrar" tabindex="4" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-success txt_idioma_Firmar" tabindex="3" id="btnFirmaElectronica_Firmar">Firmar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" tabindex="-1" role="dialog" id="mdlSistema_Sesion" style="display:none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header modal-header-warning" data-type="warning">
                                <h4 class="modal-title txt_Idioma_Session_expirar">Sesión a punto de expirar</h4>
                            </div>
                            <div class="modal-body">
                                <p class="txt_Idioma_Session_Cerrar">Su sesión se cerrara en </p><label id="txtSistema_MinRestantes">31</label>
                                <br /><p class="txt_Idioma_Session_Renovar">¿Desea renovar la sesión?</p>
                            </div>
                            <div class="modal-footer bg-whitesmoke br">
                                <button type="button" class="btn btn-danger txt_idioma_No" tabindex="4" data-dismiss="modal" onclick="cerrar_sesion()">No</button>
                                <button type="button" class="btn btn-success txt_Idioma_Session_Renovar_sesion" tabindex="3" id="" onclick="renovar_sesion()">Permanecer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="main-footer" style="margin-top:-1rem !important;">
                    <div class="footer-left">
                    </div>
                    <div class="footer-right">
                        Powered by CH PS Enterprise Americas Engineering & Lerma Site Engineering v2.0.3
                        <br />
                        <div class="align-content-end">
                            Contact Support:  Jesus Martinez(EJBOM) & Ricardo Hernandez(EUENY)
                        </div>
                      
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="~/Assets/V2/js/dashboard.js?v=1.0.4"></script>
    <script>
        function openLeftMenu() {
            document.getElementById("leftMenu").style.display = "block";
            document.getElementById("Menu").style.display = "none";
        }

        function closeLeftMenu() {
            document.getElementById("leftMenu").style.display = "none";
            document.getElementById("Menu").style.display = "block";
        }
    </script>
    <script>
        class Temporizador {
            constructor() {
                this.tiempo = 0;
                this.restante = 30;
                this.count = 0;
                this.interval;
            }
            getTime() {
                return this.tiempo;
            }

            cerrar_sesion() {
                this.stop();
                $.ajax({
                    type: "POST",
                    url: "/Login/CerrarSesionInactividad",
                    contentType: false,
                    processData: false,
                    data: null,
                    success: function (res) {
                        //alert("Cierre de sesión por inactividad")
                        window.location.replace("/Login/Index");
                    },
                    error: function (error) {
                        //$("#mdlSistema_FirmaElectronica").modal("hide");
                    }
                });
            }

            init() {
                this.interval = setInterval(() => {
                    this.tiempo++;
                    //document.getElementById('countdown').innerHTML = this.tiempo;
                    //console.log(this.tiempo)//900

                    if (this.tiempo == 870) {
                        var isShown = $('.modal').hasClass('in') || $('.modal').hasClass('show')
                        if (!isShown) {
                            $("#txtSistema_MinRestantes").text(30);
                            $("#mdlSistema_Sesion").modal("show")
                        }
                    }
                    if (this.tiempo >= 870) {
                        $("#txtSistema_MinRestantes").text(900 - this.tiempo);
                    }
                    if (this.tiempo == 900) {
                        //alert("se acabo el tiempo");
                        this.cerrar_sesion();
                    }
                }, 1000);
            }
            stop() {
                clearInterval(this.interval)
            }
        }
        const timer = new Temporizador();
        timer.init();
        function reiniciar_tiempo_sesion() {
            timer.stop();
            timer.tiempo = 0;
            timer.restante = 30;
            timer.init();
        }
        function renovar_sesion() {
            timer.stop();
            timer.tiempo = 0;
            timer.restante = 30;
            timer.init();
            $("#mdlSistema_Sesion").modal("hide")
            window.location.reload();
        }
        function finalizar_sesion() {
            timer.stop();
            timer.tiempo = 0;
            timer.restante = 30;
            $.ajax({
                type: "POST",
                url: "/Login/CerrarSesionInactividad",
                contentType: false,
                processData: false,
                data: null,
                success: function (res) {
                    //alert("Cierre de sesión por inactividad")
                    window.location.replace("/Login/Index");
                },
                error: function (error) {
                    //$("#mdlSistema_FirmaElectronica").modal("hide");
                }
            });
        }

        require(["jquery"], function () {
            $("#Sistema_A3_body").click(function () {
                closeLeftMenu();
            })
            $("table,input,button,textarea,div,modal").focus(function () {
                reiniciar_tiempo_sesion();
            });
            $("input,textarea").keydown(function () {
                reiniciar_tiempo_sesion();
            });
            $("select,input").change(function () {
                reiniciar_tiempo_sesion();
            });
            $("table,div,body").scroll(function () {
                reiniciar_tiempo_sesion();
            });
            $("table tr button").click(function () {
                reiniciar_tiempo_sesion();
            });
            $("#Sistema_A3_body").click(function () {
                reiniciar_tiempo_sesion();
            });
        });
    </script>
</body>
</html>
